.gppLandingWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #20242c;
}
.gppLandingContainer {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gppMainLogo {
  margin: 80px 0 0 0;
  max-width: 600px;
  width: 100%;
}
.gppMainTitle {
  font-size: 60px;
  line-height: 79px;
  color: #dcdcdc;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

.gppLandingStandfirst {
  font-size: 24px;
  line-height: 30px;
  color: #dcdcdc;
  font-weight: 400;
  font-family: "Roboto", "Times New Roman", Times, serif;
  text-align: center;
}
.gppContactUs {
  background: linear-gradient(270deg, #af3fae -0.29%, #ff4365 99.71%);
  border-radius: 10px;

  color: white;
  font-weight: 400;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-size: 16px;
  padding: 10px 20px;
}
.gppDocsBlock {
  background-color: #2b303b;
  padding: 20px;
  border-radius: 2px;
  color: #dcdcdc;
  min-width: 32%;
}

.gppBlockTitle {
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 30px;
}

.gppMetaList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  gap: 10px;
  padding: 10px 0 0 0;
  li {
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    gap: 10px;
    span {
      img {
        width: 20px;
        aspect-ratio: 41/32 !important;
        height: auto;
      }
    }
    a {
      line-height: 16px;
      font-family: "Roboto", "Times New Roman", Times, serif;
      font-weight: 400;
    }
  }
}
.gppMetaListItem {
  padding-left: 10px;
}

.gppMetaBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}
.gppMainSupport {
  padding: 10px 20px;
  background: linear-gradient(270deg, #af3fae -0.29%, #ff4365 99.71%);
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 400;
  color: #dcdcdc;
}
