.acTopArticles {
  margin-bottom: 30px;
  max-width: 100% !important;
  padding-left: 5px;
}

.acTopArticlesBottomColSubtitle {
  display: none;
}

.acTopArticlesEpTitleNew {
  display: none;
}

.acTopArticlesEpSubtitleWrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.acTopArticlesTag {
  display: inline-block;
  font-family: "SelawikRegular", sans-serif;
  font-size: 16px;
  /*padding: 8px 10px 6px 5px;*/
  padding: 10px 10px 6px;
  font-weight: 400;
  color: #fafafa;
}

.acTopArticlesTagWrapper {
  position: relative;
  border-bottom: 4px solid;
  width: 100%;
  margin-bottom: 20px;
  /*margin-top: 10px;*/
}

.acTopArticlesEpTile {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}

.acTopArticlesEpLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.acTopArticlesEpLink:hover {
  text-decoration: none;
}

.acTopArticlesEpImg {
  width: 138px;
  height: 78px;
  flex-shrink: 0;
  border-top: 6px solid;
}

.acTopArticlesTextWrapper {
  color: black;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
  border: thin solid #f0f0f0;
  width: 100%;
}

.acTopArticlesTitle {
  font-size: 16px;
  font-weight: 600;
  font-family: "SelawikSemibold", sans-serif;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 22px;
  margin-bottom: 0;
  max-height: 75px;
}

.acTopArticlesEpPositionWrapper {
  text-align: center;
  color: white;
  position: absolute;
  font-family: "SelawikRegular", sans-serif;
  font-size: 16px;
  flex-shrink: 0;
  overflow: hidden;
}

.acTopArticlesPosition {
  font-family: "SelawikRegular", sans-serif;
  //line-height: 32px;
  //width: 32px;
  flex-shrink: 0;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

.acTopArticlesPositionFirst {
  background-color: #000;
  height: 32px;
  position: absolute;
  top: 6px;
}

.acTopArticlesPositionMiddle {
  background-color: #43474d;
  position: absolute;
  top: 6px;
}

.acTopArticlesPositionLast {
  background-color: #9b9b9b;
  position: absolute;
  top: 6px;
}
.acMostReadArticlesBottomColSubtitleEditorPicks {
  display: none;
}

@media (min-width: 663px) and (max-width: 767.98px) {
  .acTopArticlesTitle {
    font-size: 13px;
    -webkit-line-clamp: 1;
  }

  .acTopArticlesEpImg {
    width: 100px;
    height: 67px;
  }
}
@media (max-width: 662px) {
  .acTopArticlesEpTile {
    border-top: unset !important;
    border-left: unset !important;
  }
}

@media (min-width: 576px) {
  .acTopArticlesTagWrapper {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .acTopArticlesTag {
    padding: 9px 20px 6px 10px;
  }
}
@media (min-width: 663px) and (max-width: 1024px) {
  .acMostReadArticlesBottomColSubtitleEditorPicks {
    font-family: "SelawikRegular", sans-serif;
    font-weight: 400;
    margin-right: 2px;
    line-height: 20px;
    max-height: 85px;
    height: 100%;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 16px;
    margin-top: 0px;
  }

  .acTopArticlesTitle {
    font-size: 13px;
    display: none;
  }

  .acTopArticlesEpImg {
    width: 138px;
    height: 78px;
    padding-top: 7px;
    border: none;
  }

  .acTopArticlesBottomColSubtitle {
    font-family: "SelawikRegular", sans-serif;
    font-weight: 400;
    line-height: 18px;
    max-height: 78px;
    height: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 16px;
    margin-top: 0px;
  }

  .acTopArticlesEpTitleNew {
    display: block;
    color: black;
    font-size: 18px;
    font-family: "SelawikBold", sans-serif;
  }

  .acTopArticlesTextWrapper {
    border: none;
    padding: 4px 5px 0 5px;
    /************/
    width: 100%;
    /************/
  }

  .acTopArticlesEpLink {
    flex-direction: column;
    padding: 10px 6px 0px 5px;
  }

  .acTopArticlesEpTile {
    border: thin solid #f0f0f0;
    margin-bottom: 20px;
    // border-top: 5px solid;
  }

  .acTopArticlesPositionFirst,
  .acTopArticlesPositionMiddle,
  .acTopArticlesPositionLast {
    position: absolute;
    top: 45px;
  }

  .acTopArticlesTag {
    padding: 8px 18px 4px 10px;
  }
  .acTopArticlesTagWrapper {
    margin-bottom: 20px;
  }

  .acTopArticlesBlock {
    padding-left: 13px;
    padding-right: 13px;
  }

  .acTopArticlesEpPositionWrapper {
    position: absolute;
    top: 7px;
  }

  .acTopArticlesItems {
    padding: 0 10px;
  }

  .acTopArticles {
    margin-bottom: -10px;
  }
}

@media (max-width: 1024px){
  .acTopArticles{
    margin-left: 0;
    padding-left: 0;
  }
}

@media (min-width: 1025px) {
  .acMostReadArticlesBottomColSubtitleEditorPicks {
    display: none;
  }

  .acTopArticlesTitle {
    line-height: 18px;
    font-weight: 500;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 15px;
  }

  .acTopArticlesTextWrapper {
    padding: 0px 5px 0px 5px;
  }

  .acTopArticlesEpPositionWrapper {
    top: 6px;
  }

  .acTopArticlesEpImg {
    border-top: 6px solid #188720;
  }

  .acTopArticlesTag {
    padding: 6px 16px 4px 10px;
  }

  .acTopArticlesEpTile {
    margin-bottom: 10px;
    border-top: none !important;
    border-left: none !important;
  }

  .acTopArticlesItems {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-4 {
    max-width: none;
    flex: none;
    margin-bottom: 15px;
  }
}

@media (min-width: 663px) and (max-width: 1024px) {
  .acColLeft {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .acColRight {
    flex: 0 0 100%;
    max-width: none;
  }
}
/*
@media (min-width: 0px) and (max-width: 576px){
  .ac-col-right {
    max-width: 100%;
    flex: 0 0 100%;
  }
}*/
