.acAuthorHeaderTagWrapper {
    position: relative;
    border-bottom: 4.5px solid;
    width: 100%;
    margin-bottom: 5px;
    border-bottom-color: purple
  } 
  
  .acAuthorHeaderTag {
    font-family: 'SelawikRegular', sans-serif;
    font-size: 16px;
    padding: 9px 14px 6px 5px;
    font-weight: 400;
    color: white;
    width: 120px;
    height: 38px;
    text-align: center;
    margin-top: 15px;
    background-color: purple
  }
  